.a-propos {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;

    h1, p {
        text-align: center;
    }

    .a-propos-boite {
        align-self: center;

        .a-propos-description {
            padding: 0 1em;
            font-size: 1.25em;
        }
    }

    .a-propos-img {
        display: none;
    }
}

@media (min-width: 768px) {
    .a-propos {  
        grid-template-columns: repeat(12, auto);
        grid-template-rows: auto 1fr;

        h1  {
            grid-column-start: 1;
            grid-column-end: 13;
        }

        .a-propos-boite {
            grid-column-start: 1;
            grid-column-end: 13;
            grid-row-start: 2;

            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .a-propos-img {
            display: block;
            grid-column-start: 1;
            grid-column-end: 13;
            grid-row-start: 2;
            z-index: -1;

            background-image: url(../media/pexels-negative-space-160107.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
}

@media (min-width: 1440px) {
    .a-propos {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(9, 0.5fr);

        h1 {
            font-size: 72px !important;
            text-align: right;
            grid-column-start: 8;
            grid-column-end: 12;
            grid-row-start: 4;
        }

        .a-propos-boite {
            grid-column-start: 7;
            grid-column-end: 12;
            grid-row-start: 5;
            grid-row-end: 13;

            .a-propos-description {
                font-size: 1.12em;
            }
        }

        .a-propos-img {
            grid-column-start: 2;
            grid-column-end: 8;
            grid-row-start: 2;
            grid-row-end: 9;

            border-radius: 30px;
        }
    }
}