@import "variables.scss";

section.accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-family: $font-title;
        text-align: center;
        font-weight: 600;
        font-size: 4em;
    }

    h1 {
        font-size: 5em;
        text-align: center;
    }
}