@import "variables.scss";

.accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    p {
        font-family: $font-title;
        font-size: 2.25em;
        font-weight: 600;
    }
}

@media (min-width: 768px) {
    .accueil {    
        p {
            font-size: 3em;
        }
    }
}

@media (min-width: 1440px) {
    .accueil {
        p {
            font-size: 4em;
        }
    }
}