@import "variables.scss";

.accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .carousel-ext {
        height: 54px;
        overflow: hidden;
    }

    .carousel-int {
        animation: rotateMobile 12s ease-in-out infinite;
    }
    p {
        font-family: $font-title;
        font-size: 2.25em;
        font-weight: 600;
    }

    @keyframes rotateMobile {
        0%, 20% {
            transform: translateY(0);
        }
        25%,45% {
            transform: translateY(-54px);
        }
        50%,70% {
            transform: translateY(-54px * 2);
        }
        75%,95% {
            transform: translateY(-54px * 3);
        }
        100% {
            transform: translateY(-54px * 4);
        }
    }
}

@media (min-width: 768px) {
    .accueil {    
        p {
            font-size: 3.5em;
        }

        .carousel-ext {
            height: 75px;
        }
        .carousel-int {
            animation: rotateTablette 12s ease-in-out infinite;
        }
        
        @keyframes rotateTablette {
            0%, 20% {
                transform: translateY(0);
            }
            25%,45% {
                transform: translateY(-75px);
            }
            50%,70% {
                transform: translateY(-75px * 2);
            }
            75%,95% {
                transform: translateY(-75px * 3);
            }
            100% {
                transform: translateY(-75px * 4);
            }
        }
    }
}

@media (min-width: 992px) {
    .accueil {
        p {
            font-size: 4em;
        }

        .carousel-ext {
            height: 84px;
        }
        .carousel-int {
            animation: rotateOrdi 12s ease-in-out infinite;
        }
        
        @keyframes rotateOrdi {
            0%, 20% {
                transform: translateY(0);
            }
            25%,45% {
                transform: translateY(-84px);
            }
            50%,70% {
                transform: translateY(-84px * 2);
            }
            75%,95% {
                transform: translateY(-84px * 3);
            }
            100% {
                transform: translateY(-84px * 4);
            }
        }
    }
}