.contact {
    display: grid;
    grid-template-rows: auto 1fr;

    h1, p {
        text-align: center;
    }

    .contact-boite {
        align-self: center;

        .coordonees {
            p {
                padding: 0 10px;
                font-size: 1.25em;
            }
        }

        .boutons-contact {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;

            button {
                border: none;
                background-color: transparent;
            }

            ul {
                display: flex;
                flex-direction: row;

                li {
                    padding: 0 0.3em;
                }
            }

            i {
                font-size: 1.5em;
            }

        }
    }

    .contact-img {
        display: none;
    }
}

@media (min-width: 768px) {
    .contact {    
        .contact-img {
            display: block;
        }
    }
}

// @media (min-width: 1440px) {
//     .contact {    

//     }
// }