.contact {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;

    h1, p {
        text-align: center;
    }

    .contact-boite {
        align-self: center;
        margin-top: -2em;

        .coordonees {
            p {
                padding: 0 10px;
                font-size: 1.25em;
            }
        }

        .boutons-contact {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;

            button {
                border: none;
                background-color: transparent;
            }

            ul {
                display: flex;
                flex-direction: row;

                li {
                    padding: 0 0.3em;
                }
            }

            i {
                font-size: 1.5em;
            }

        }
    }

    .contact-img {
        display: none;
    }
}

@media (min-width: 768px) {
    .contact {  
        grid-template-columns: repeat(12, auto);
        grid-template-rows: auto 1fr;

        h1  {
            grid-column-start: 1;
            grid-column-end: 13;
        }

        .contact-boite {
            grid-column-start: 1;
            grid-column-end: 13;
            grid-row-start: 2;

            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .contact-img {
            display: block;
            grid-column-start: 1;
            grid-column-end: 13;
            grid-row-start: 2;
            z-index: -1;

            border-radius: 30px;
            
            background-image: url(../media/pexels-daria-shevtsova-705675.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
}

@media (min-width: 992px) {
    .contact {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(9, 0.5fr);

        h1 {
            font-size: 4.5em;
            text-align: left;
            grid-column-start: 2;
        }

        .contact-boite {
            grid-column-start: 2;
            grid-column-end: 7;
            grid-row-start: 2;
            grid-row-end: 7;
        }

        .contact-img {
            grid-column-start: 6;
            grid-column-end: 12;
            grid-row-start: 3;
            grid-row-end: 11;
        }
    }
}