@import "variables.scss";

body {
    font-family: $font-text;
    color: black;
    background-color: $lightBackground;
    height: 100vh;

    h1, h2, h3 {
        font-family: $font-title;
        background: -webkit-linear-gradient($lightPink, $lightPurple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    a {
        text-decoration: none;
    }
}

body.dark {
    background-color: black;
    color: white;

    h1, h2, h3 {
        font-family: $font-title;
        background: -webkit-linear-gradient($darkAqua, $darkBlue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    a {
        color: white;
    }
}