$font-title: 'Spectral', serif;
$font-text: 'Montserrat', sans-serif;

$darkAqua : #00FFFF;
$darkBlue : #1813A2;

$lightPink : #F3CFE9;
$lightPurple :#8B47B5;

$lightBackground :#FAFAFA;


body {
    font-family: $font-text;
    color: black;
    background-color: $lightBackground;

    h1, h2, h3 {
        font-family: $font-title;
        background: -webkit-linear-gradient($lightPink, $lightPurple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
}

body.dark {
    background-color: black;
    color: white;

    h1, h2, h3 {
        font-family: $font-title;
        background: -webkit-linear-gradient($darkAqua, $darkBlue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
}