@import "variables.scss";

body {
    font-family: $font-text;
    color: black;
    background-color: $lightBackground;
    height: 100vh;
    width: 100vw;

    h1, h2, h3 {
        font-family: $font-title;
        background: -webkit-linear-gradient($lightPink, $lightPurple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    .container {
        height: 100vh !important;
        min-width: 100vw !important;
    }

    footer {
        font-size: 0.8em;
    }
}

body.dark {
    background-color: black;
    color: white;

    h1, h2, h3 {
        font-family: $font-title;
        background: -webkit-linear-gradient($darkAqua, $darkBlue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    a {
        color: white;
    }
}