.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 100vw;
    z-index: 3;
    background-color: #FAFAFA;

    width: 100vw;
    height: 100vh;

    a {
        margin: 1em;
        font-size: 2em;
        hr {
            display: none;
        }
    }

    .ouvert {
        right: 0;
        animation-name: menuOuvert;
        animation-duration: 1s;
    }

    @keyframes menuOuvert {
        from {right: 100vw;}
        to {right: 0;}
    }
}

@media (min-width: 768px) {
    .nav {
        display: flex;
        flex-direction: row;
        position: relative;
        right: 0;

        background-color: transparent;
        width: auto;
        height: auto;

        a {
            font-size: 1em;
            text-decoration: none;
            color: black;
            margin: 0;
            padding: 0 0.5em 1.250em;

            &:hover hr {
                width: 100%;
                transition: width 0.3s;
            }
    
            hr {
                display: block;
                width: 0%;
                height: 2px;
                margin: 0;
                opacity: 100%; 
            }
        }

        hr.active {
            width: 100%;
        }
    }
}